*.scss
css/style.css.map
css/style.css
/original-images

# Pendientes:

# contact page
# about page
# jobs?
# privacy
# parts warranty

# headsup on site sections with variants (search results)

# Popup for mobile version
# ids para forms y campos a completar
# fix h3 styling for part details / salvagecarsforsale_cardetails
# SVG in chrome color
# replace navbar and footer in all pages
# compress imgs
